* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav > h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.005em;
}
